src/main/mule/indigoapibyqueryparams.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="586213c3-b75e-4073-bdee-9d74a9f91671" >
		<http:request-connection host="indigo-airlines.us-e2.cloudhub.io" port="80" />
	</http:request-config>
	<flow name="indigoapibyqueryparamsFlow" doc:id="293c7186-06ef-446b-b67d-49453928208f" >
		<logger level="INFO" doc:name="Logger" doc:id="78966c26-6638-4643-b344-2ca91e8dd78a" message="indigoapi started..............................."/>
		<http:request method="GET" doc:name="Request" doc:id="0d76e79a-c332-47b3-87ec-e25ce5ea40dd" config-ref="HTTP_Request_configuration" path="/api/getFlights">
			<http:query-params ><![CDATA[#[output application/java
---
{
	from : attributes.queryParams.from,
	to : attributes.queryParams.to,
	depatureDate : attributes.queryParams.depatureDate
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="3b09ccef-f382-42f3-bff2-6bc87a6d05a2" message="Responce from indigoapi................[#[payload]"/>
	</flow>
</mule>
